{
  "extends": ["airbnb-base", "plugin:flowtype/recommended"],
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "describe": true,
    "expect": true,
    "it": true,
    "beforeEach": true,
    "jest": true
  },
  "rules": {
    "arrow-parens": 0,
    "import/no-duplicates": 2,
    "no-duplicate-imports": 0
  }
}
